body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

h1 {
  margin-top: 40px;
}

input, button {
  padding: 10px;
  font-size: 16px;
}

#result {
  margin-top: 20px;
  font-size: 20px;
}
